<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Registro Venta</mat-card-title>
        </mat-card-header>
        <form [formGroup] = "formVenta">
        <mat-card-content>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline"  class="example-form-field">
                  <mat-label>CUENTA BANCARIA</mat-label>
                  <input placeholder="Ingrese Cuenta Bancaria" matInput type="text" formControlName="cuentaBancaria">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline"  class="example-form-field">
                  <mat-label>Precio</mat-label>
                  <input placeholder="Ingrese Precio" matInput type="text" formControlName="precio">
                </mat-form-field>
              </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" (click)="ngGuardar()" [disabled]="!formVenta.valid" mat-raised-button color="primary">Guardar</button>
        </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Listado Venta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef> CUENTA BANCARIA </th>
              <td mat-cell *matCellDef="let element"> {{element.cuentaBancaria}} </td>
            </ng-container>
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> PRECIO </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
